 .section-title .zigzag {
    stroke: #00CFFD;
}

.profile-info li i, .testimonial-carousel .left i, footer .social li a:hover, header nav ul li a:hover, .hero-big .element, .typed-cursor, .timeline .timeline-item span, .portfolio_filter ul li a.select-cat, .next-link .next-title, .categories ul li a, .blog-grid .metas .author:hover, .categories a:hover span, .contact-info a:hover, header nav ul li a.active{
    /* color: #D1ED5D; */
    background-image:  linear-gradient(to right, #00CFFD, #3A7BD5, #00CFFD);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.swiper-pagination-bullet-active, .skill-list .progress .percentage, .underline-title:after, .hamburger, .emoji-button:hover{
    background-image:  linear-gradient(to top, #00CFFD, #3A7BD5, #00CFFD);
}

body #loader .loading .profile-image svg .circle{

	stroke: #00CFFD;
}

